@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600');

$gap: 10px;

$app-main-text-color: #333;
$board-bg-color: #0079bf;
$list-bg-color: #ebecf0;
$common-element-bg:rgba(255, 255, 255, .24);

$navbar-app-height: 44px;
$navbar-board-height: 6vh;
$board-content-height: 88vh;
